{% extends 'base.html' %}
{% block title %}게시판{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
    <div class="body">
    <div class="block-header">
        <h3 align="center">게시글 목록</h3>
    </div>
    <br><br><br><br>
    <table align="center" class="table table-hover">
        <tr>
            <td>글번호</td>
            <td>제목</td>
            <td>작성자</td>
        </tr>
        {% for bbs in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'bbs:detail' pk=bbs.id %}">{{ bbs.title }}</a></td>
                <td>{{ bbs.writer }}</td>
            </tr>
        {% endfor %}
    </table>
    <div align="right">
        <a href="{% url 'bbs:create' %}" class="btn btn-info">게시글 등록</a></div>

    {% block pagination %}
        {% if is_paginated %}
            <ul class="pagination justify-content-center pagination-sm">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'bbs:selectAll' %}?page={{ page_obj.previous_page_number }}"
                           tabindex="-1">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                {% endif %}

                {% for object in page_obj.paginator.page_range %}
                    <li class="page-item {% if page_obj.number == forloop.counter %}disabled{% endif %}">
                        <a class="page-link"
                           href="{{ request.path }}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                    </li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{% url 'bbs:selectAll' %}?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    {% endblock %}
    </div></div></div>
{% endblock %}
